.navbar-dropdown-account-wrapper {
    padding: 6px;
}

.avatar-sm,
.avatar-sm .avatar-initials {
    width: 36px;
    height: 36px;
}

.dropdown-toggle::after {
    border-top: none;
    border-left: none;
}

.btn-sm-status {
    width: 16px;
    height: 16px;
    color: var(--bs-white);
}

.btn.rounded-circle .btn-sm-status {
    top: 0.15625rem;
    right: 0.15625rem;
}

.navbar-vertical-fixed {
    top: 80px;
}

.navbar-dropdown-account-wrapper h5 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-black);
}

.navbar-dropdown-account .fullname {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 24px;
    line-height: 28px;
    color: var(--bs-body-color);
}

.navbar-dropdown-account p {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
}

.navbar-dropdown-account .position {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-acqua-dark);
}

.navbar-dropdown-account .btn {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-white);
}

.navbar-card-list-group {
    margin: 0;
}

#notificationTabContent p {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
}

#notificationTabContent small {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    line-height: 16px;
    color: var(--bs-secondary);
}

.list-group-item {
    border: 1px solid #DCF5F3;
}

.page-header {
    padding-bottom: 0;
    margin-bottom: 33px;
}

.page-header-title {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 35px;
    line-height: 41px;
    color: var(--bs-body-color);
    margin-bottom: 0;
}

.card-bg-gray {
    background: #EFEFEF;
    border-radius: 15px;
}

.card-bg-gray h3 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-body-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 12px;
}

.card-green-1 {
    background: linear-gradient(330.5deg, #4ECEC2 -3.26%, #9CE0C2 102.87%);
}

.card-green-2 {
    background: linear-gradient(329.09deg, #2E636E -2.45%, #4ECEC2 106.48%);
}

.card-green-3 {
    background: linear-gradient(151.07deg, rgba(156, 224, 194, 0) -75.93%, #9CE0C2 95.65%);
}

.card-green-1 h6,
.card-green-2 h6 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-white);
}

.card-green-3 h6 {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-acqua-dark);
}

.card-hover-shadow:hover {
    box-shadow: 0px 0px 20px rgb(156 224 194 / 80%) !important;
}

.card-header-title {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-body-color);
}

.card-students h3 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-body-color);
}

.list-recent-events li {
    padding: 25px 1rem;
}

.list-recent-events li span,
.card-last-reflection span {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    line-height: 16px;
    color: var(--bs-secondary);
}

.list-recent-events li h5 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-body-color);
}

.card-last-reflection h5 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-body-color);
}

.card-last-reflection p {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
    margin-top: 20px;
}

.nav-vertical.nav-pills .nav-link.active {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-acqua-dark);
}

@media (min-width: 1200px) {
    .navbar-vertical-aside-show-xl .navbar:not(.navbar-vertical) {
        margin-left: 0;
    }
}