.page-internal-header-title a {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 17px;
    line-height: 26px;
    color: var(--bs-white);
}

.dropdown-toggle::after {
    border-top: none;
    border-left: none;
}

.card-green-1 {
    background: radial-gradient(56.1% 56.1% at 104.65% -6.1%, #9CE0C2 0%, #2A2D3E 100%);
}

.card-green-2 {
    background: radial-gradient(56.1% 56.1% at 104.65% -6.1%, #9CE0C2 0%, #2A2D3E 100%);
}

.card-green-3 {
    background: radial-gradient(61.92% 61.92% at 104.65% -6.1%, #4ECEC2 0%, #2A2D3E 100%);
}

.card-green-4 {
    background: radial-gradient(61.92% 61.92% at 104.65% -6.1%, #4ECEC2 0%, #2A2D3E 100%);
}

.card-green-1:hover,
.card-green-2:hover {
    background: radial-gradient(72.92% 59.92% at -9.35% 99.9%, #9CE0C2 0%, #2A2D3E 100%);
    box-shadow: 20px 20px 15px -9px rgba(0, 0, 0, 0.1);
}

.card-green-3:hover,
.card-green-4:hover {
    background: radial-gradient(72.92% 59.92% at -9.35% 99.9%, #4ECEC2 0%, #2A2D3E 100%);
    box-shadow: 20px 20px 15px -9px rgba(0, 0, 0, 0.1);
}

.card-green-1 img,
.card-green-2 img,
.card-green-3 img,
.card-green-4 img {
    margin: 0;
}

.card-green-1 h6,
.card-green-2 h6,
.card-green-3 h6,
.card-green-4 h6 {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-white);
    margin: 0;
}

.badge {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    line-height: 21px;
    color: var(--bs-white);
}

.mic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.recording-box {
    background: #212332;
    box-shadow: 0px 0px 12px -2px rgb(0 0 0 / 25%);
    border-radius: 25.5px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    max-width: 48px;
    padding: 8px;
    overflow: hidden;
}

.recorder {
    max-width: inherit;
    padding: 8px 20px 8px 8px;
    width: 280px;
}


.waveform {
    position: relative;
    padding: 0 10px;
    display: flex;
}

.waveform__canvas {
    width: 160px;
    height: 32px;
}

.toolbar {
    text-align: center;
    display: flex;
}

.button--record,
.button--play {
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px;
    padding: 0;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #4ECEC2;
    cursor: pointer;
    border: 1.7px solid #4ECEC2;
}

.button--stop {
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: #212332;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--bs-orange);
    cursor: pointer;
    border: 1.7px solid var(--bs-orange);
}

.audio {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: 0;
}

.waveform {
    position: relative;
    padding: 0 10px;
    display: flex;
}

.waveform__canvas {
    width: 160px;
    height: 32px;
}

.js-time {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-body-color);
}

.message {
    transtion: opacity 0.4s ease-in-out;
    padding: 0 0px;
    opacity: 0;
    font-size: 16px;
    font-family: var(--bs-body-font-family);
    font-style: normal;
    color: var(--bs-orange);
    line-height: 19px;
}

.chat-contact-title,
.chat-contact-content,
.unread-message,
.unread-message .chat-contact-title,
.unread-message .chat-contact-content {
    color: var(--bs-white);
}

.cardTagout-orange {
    background: radial-gradient(50% 50% at 100% 0%, #2E636E 0%, #F26903 0.01%, #2A2D3E 100%);
}

.cardTagout-orange:hover {
    background: radial-gradient(72.92% 59.92% at -9.35% 99.9%, #F26903 0%, #2A2D3E 100%);
    box-shadow: 20px 20px 15px -9px rgb(0 0 0 / 10%);
}

.cardTagout-green {
    background: radial-gradient(70.93% 70.93% at 100% 0%, #2E636E 0%, #2A2D3E 100%);
}

.modal .btn-close {
    background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" class="bi bi-arrow-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg>') center/1em auto no-repeat;
    padding: 0;
    margin-right: 16px;
}

.modal-title {
    margin-bottom: 0;
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-body-color);
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ts-control,
.ts-control input,
.ts-dropdown {
    color: var(--bs-white);
}

.js-toggle-switch.form-check-input:checked {
    background-color: #4ECEC2;
}

.current-goal {
    background: linear-gradient(142.29deg, #9CE0C2 -2.53%, #4ECEC2 144.64%);
    border-radius: 10px;
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 12px;
    line-height: 18px;
    color: var(--bs-acqua-dark);
    padding: 5px;
}

label {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-white);
    margin-bottom: 8px;
}

.gender {
    font-family: var(--bs-secondary-font-family);
    font-style: italic;
    font-weight: var(--fw-regular-plus);
    font-size: 17px;
    line-height: 26px;
    color: #9CE0C2;
}

.position {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 17px;
    line-height: 26px;
    color: var(--bs-white);
}

a.edit .bi {
    color: var(--bs-white);
    font-size: 15px;
}

.title-step {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #EFEFEF;
    margin-bottom: 5px;
}

.text-step {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #AEAEAE;
}

.current-step-title {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #EFEFEF;
}

.current-step-subtitle {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #AEAEAE;
}

.box-steps:hover {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.item-step {
    cursor: pointer;
    margin-top: -25px;
}

.item-step>img {
    margin-right: 10px;
}

.box-text-step {
    display: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-step:hover>.box-text-step {
    display: flex;
    flex-direction: column;
}

.item-step:hover>.text-step {
    display: none;
}

.completed-step {
    font-size: 11px;
    color: #FFFFFF;
}

/*==================== CHAT =========================*/
.chat-content-header {
    padding: 1rem;
    border-bottom: 1px solid var(--bs-acqua-dark);
}

.conversation-info {
    border-left: 1px solid var(--bs-acqua-dark);
}

.chat-contact.active:not(:first-child),
.chat-contact.active+.chat-contact {
    border-top: 1px solid var(--bs-acqua-dark);
}

.contacts-list {
    border-right: 1px solid var(--bs-acqua-dark);
}

.chat-editor-area {
    border-top: 1px solid var(--bs-acqua-dark);
}

.contacts-search-wrapper {
    position: relative;
    border-top: none;
    border-right: 1px solid var(--bs-acqua-dark);
}

.chat-editor-area .emojiarea-editor[contenteditable="true"]:empty::before {
    content: attr(placeholder);
    pointer-events: none;
    color: var(--bs-body-color);
}

/*==================================================*/
.tom-select-custom .ts-control {
    padding: 0.6125rem 3rem 0.6125rem 1rem;
    min-height: calc(1.5em + 0.75rem + 2px);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: flex;
    align-items: center;
}

.ts-dropdown-content {
    background: #212332;
    box-shadow: 0px 0px 30px -4px rgb(0 0 0 / 6%);
    border-radius: 10px;
}

.foot-table .tom-select-custom .ts-dropdown .option {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.message--visible {
    opacity: 1;
}

.btn-remove-record {
    color: var(--bs-acqua-dark);
    border: none;
    padding-right: 7px;
}

.btn-remove-record:hover {
    border: none;
    color: var(--bs-gray-600);
}

.form-check .form-check-label {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--bs-white);
}

.card .nav-pills .nav-link {
    border-radius: 0;
}

.btnAddNewVIP {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    line-height: 21px;
    color: #2E636E;
    background: #4ECEC2;
    border-radius: 20px !important;
    min-width: 172px;
    min-height: 56px;
    padding: 0;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.colletiveItem h4 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 14px;
    line-height: 21px;
    color: #EFEFEF;
}

.colletiveItem .bi {
    margin: 0 5px;
}

.badge-support {
    background: var(--bs-teal);
}

.badge-tagout {
    background: var(--bs-acqua-dark);
}

.badge-refer {
    background: var(--bs-orange);
}

#datatableSearch {
    min-width: 400px;
}

.btnFilter {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 24px;
    color: #EFEFEF;
}