.navbar-dropdown-account-wrapper {
    padding: 6px;
}

.avatar-sm,
.avatar-sm .avatar-initials {
    width: 36px;
    height: 36px;
}

.dropdown-toggle::after {
    border-top: none;
    border-left: none;
}

.btn-sm-status {
    width: 16px;
    height: 16px;
    color: var(--bs-white);
}

.btn.rounded-circle .btn-sm-status {
    top: 0.15625rem;
    right: 0.15625rem;
}

.navbar-vertical-fixed {
    top: 80px;
}

.btn-new-reflection {
    color: #fff;
    background-color: #228E84;
    border-color: #228E84;
}

.navbar-dropdown-account-wrapper h5 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-black);
}

.navbar-dropdown-account .fullname {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 24px;
    line-height: 28px;
    color: var(--bs-body-color);
}


.navbar-dropdown-account textarea {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
    border: none;
    width: 100%;
    background: rgba(239, 239, 239, 0.5);
    border-radius: 10px;
    padding: 15px;
}

.navbar-dropdown-account p {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
}

.navbar-dropdown-account .position {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-acqua-dark);
}

.navbar-dropdown-account .btn {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-white);
}

.navbar-card-list-group {
    margin: 0;
}

#notificationTabContent p {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
}

#notificationTabContent small {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    line-height: 16px;
    color: var(--bs-secondary);
}

.page-header {
    padding-bottom: 0;
    margin-bottom: 33px;
}

.page-header-title {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 35px;
    line-height: 41px;
    color: var(--bs-body-color);
    margin-bottom: 0;
}

.card-bg-gray {
    background: #EFEFEF;
    border-radius: 15px;
}

.card-bg-gray h3 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-body-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 0px;
}

.card-green-1 {
    background: linear-gradient(330.5deg, #4ECEC2 -3.26%, #9CE0C2 102.87%);
}

.card-green-2 {
    background: linear-gradient(329.09deg, var(--bs-acqua-dark) -2.45%, #4ECEC2 106.48%);
}

.card-green-3 {
    background: linear-gradient(151.07deg, rgba(156, 224, 194, 0) -75.93%, #9CE0C2 95.65%);
}

.card-green-1 h6,
.card-green-2 h6 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-white);
}

.card-green-3 h6 {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-acqua-dark);
}

.cardTagout-orange {
    background: linear-gradient(333.43deg, #F26903 -1.45%, rgba(255, 109, 0, 0) 177.81%);
    color: var(--bs-white);
}

.cardTagout-orange h6 {
    color: var(--bs-white);
}

.cardTagout-green {
    background: linear-gradient(151.07deg, rgba(156, 224, 194, 0) -75.93%, #9CE0C2 95.65%);
    color: var(--bs-acqua-dark);
}

.cardTagout-green h6 {
    color: var(--bs-acqua-dark);
}

.card-hover-shadow:hover {
    box-shadow: 0px 0px 20px rgb(226 138 58 / 80%) !important;
}

.card-header-title {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-body-color);
}

.card-students h3 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-body-color);
}

.card-students:hover {
    background: #EFEFEF;
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.06) !important;
    border-radius: 10px;
}

.card-students:hover .text-inherit {
    color: var(--bs-body-color) !important;
}

.list-recent-events li {
    padding: 25px 1rem;
}

.list-recent-events li span,
.card-last-reflection span {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    line-height: 16px;
    color: var(--bs-secondary);
}

.list-recent-events li h5 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-body-color);
}

.card-last-reflection h5 {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-body-color);
}

.card-last-reflection p {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
    margin-top: 20px;
}

.navbar-vertical-aside .nav.nav-pills {
    padding-right: 1.25rem;
    padding-left: 0;
}

.nav-vertical.nav-pills .nav-link {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-gray-dark);
}

.nav-vertical.nav-pills .nav-link .nav-icon {
    margin-left: 25px;
}

.nav-vertical.nav-pills .nav-link.active {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 17px;
    line-height: 20px;
    color: var(--bs-acqua-dark);
}

.nav-vertical.nav-pills .nav-link.active::before {
    content: " ";
    background: #2E636E;
    left: 0;
    top: 0;
    width: 2px;
    height: 17px;
}

.nav-vertical.nav-pills .nav-link {
    padding: 0.5rem 0.875rem !important;
    margin-bottom: 1.52rem;
    padding-left: 0 !important;
}

.card-header {
    border-bottom: none;
}

.card-body {
    /* padding-top: 0; */
}

.badge {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-white);
    background: linear-gradient(319.83deg, #4ECEC2 -0.79%, #9CE0C2 120.19%);
    border-radius: 10px;
    padding: 2px 9px;
}

.badge:hover {
    background: linear-gradient(329.09deg, #2E636E -2.45%, #4ECEC2 106.48%);
}

.badge-refer {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-white);
    background: linear-gradient(329.09deg, #2E636E -2.45%, #4ECEC2 106.48%);
    border-radius: 10px;
    padding: 2px 9px;
}

.badge-refer:hover {
    background: linear-gradient(319.83deg, #4ECEC2 -0.79%, #9CE0C2 120.19%);
}

.tom-select-custom .ts-control {
    padding: 0.6125rem 3rem 0.6125rem 1rem;
    min-height: calc(1.5em + 0.75rem + 2px);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: flex;
    align-items: center;
}

.ts-control>input {
    flex: 1 1 auto;
    min-width: 7rem;
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: 0 0 !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    box-shadow: none !important;
}

.form-control,
.ts-wrapper.form-select .ts-control,
.tom-select-custom .ts-control {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 16px;
    line-height: 150%;
    color: var(--bs-body-color);
}

.ts-wrapper.form-select .ts-control,
.tom-select-custom .ts-control,
.bg-gray {
    background: rgba(239, 239, 239, 0.5) !important;
}

.ts-dropdown-content {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.text-divider {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}

.text-divider span {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    color: #858585;
    background-color: var(--bs-body-bg);
    padding: 1em;
}

.modal .text-divider span {
    background-color: var(--bs-white);
}

.text-divider:before {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}

.btn-mic {
    width: 48px;
    height: 48px;
    position: relative;
    padding: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.btn-mic:hover {
    border: 1px solid transparent;
}

.btn-mic .bi {
    width: 32px;
    height: 32px;
    border: 1.7px solid var(--bs-acqua-dark);
    padding: 0;
    background: #FFFFFF;
    border-radius: 40px;
    z-index: 3;
    position: absolute;
    padding-top: 3px;
    color: var(--bs-acqua-dark);
    left: 8px;
    top: 8px;
}

.btn-mic:before {
    content: " ";
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px -2px rgb(0 0 0 / 22%);
    border-radius: 40px;
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.btn-mic:focus,
.btn-mic:active {
    border: 1px solid transparent;
}

.text-descript {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-body-color);
}

/*============= MIC ==============*/
.mic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bar {
    --volume: 0%;
    position: relative;
    width: 200px !important;
    height: 40px !important;
    /* background-image: url(../images/voice-icon.png); */
    margin-left: 5px;
    margin-right: 5px;
}

/* .bar::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: var(--volume);
    background-color: #AEAEAE;
    transition: width 100ms linear;
} */

.techkib-online-tool-button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: yellow;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.recording-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px -2px rgb(0 0 0 / 25%);
    border-radius: 25.5px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    max-width: 48px;
    padding: 8px;
    overflow: hidden;
}

.recorder {
    max-width: inherit;
    padding: 8px 20px 8px 8px;
    width: 280px;
}

.waveform {
    position: relative;
    padding: 0 10px;
    display: flex;
}

.waveform__canvas {
    width: 160px;
    height: 32px;
}

.toolbar {
    text-align: center;
    display: flex;
}

.button--record,
.button--play {
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px;
    padding: 0;
    background: var(--bs-white);
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--bs-acqua-dark);
    cursor: pointer;
    border: 1.7px solid #2E636E;
}

.button--stop {
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: var(--bs-white);
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--bs-orange);
    cursor: pointer;
    border: 1.7px solid var(--bs-orange);
}

.button--record.button--active {
    color: var(--bs-orange);
    border: 1.7px solid var(--bs-orange);
}

.button--record.button--active::before {
    opacity: 1;
}

.button--play.button--active {
    background: #49f1d5;
    color: #fff;
}

.button--disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: not-allowed;
}

.audio {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: 0;
}

.message {
    transtion: opacity 0.4s ease-in-out;
    padding: 0 10px;
    opacity: 0;
    font-size: 16px;
    font-family: var(--bs-body-font-family);
    font-style: normal;
    color: var(--bs-orange);
    line-height: 19px;
    font-weight: var(--fw-semibold);
}

.message--visible {
    opacity: 1;
}

.js-time {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-body-color);
}

.recording-box .btn-mic:before {
    box-shadow: none;
}

#texActivity {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 19px;
    color: var(--bs-orange);
    margin-left: 10px;
    margin-bottom: 0;
}

.btn-remove-record {
    color: var(--bs-acqua-dark);
    background-color: transparent;
    border-color: transparent;
}

.btn-remove-record:hover {
    color: var(--bs-button-hover);
    background-color: transparent;
    border-color: transparent;
}

.mic-time {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 24px;
    color: var(--bs-body-color);
    margin-bottom: 0;
    margin-right: 10px;
}

.modal .btn-close {
    background: transparent url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/> </svg>') center/1em auto no-repeat;
    padding: 0;
    margin-right: 16px;
}

.modalConfirm p,
#tagOutModal p {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: var(--bs-body-color);

}

.page-internal-header-title a {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-body-color);
}

label {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    color: var(--bs-body-color);
    margin-bottom: 8px;
}

.scrollbar-overlay {
    overflow: hidden !important;
}

.chat-sidebar {
    position: absolute;
    height: 100%;
    z-index: 11;
    top: 0;
    left: -100%;
    width: 100%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
}

.contacts-list {
    height: calc(100% - 2rem);
    border-right: 1px solid var(--falcon-border-color);
    overflow-y: auto;
    width: 100%;
}

.foot-table .tom-select-custom .ts-dropdown .option {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.btn-toBack {
    font-family: var(--bs-body-font-family);
    font-style: normal;
    font-weight: var(--fw-bold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-body-color);
}

.gender {
    font-family: var(--bs-body-font-family);
    font-style: italic;
    font-weight: var(--fw-semibold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-acqua-dark);
}

.position {
    font-family: var(--bs-body-font-family);
    font-style: italic;
    font-weight: var(--fw-semibold);
    font-size: 20px;
    line-height: 23px;
    color: var(--bs-body-color);
}

.divider-center {
    font-family: var(--bs-secondary-font-family);
    font-style: normal;
    font-weight: var(--fw-regular-plus);
    font-size: 14px;
    color: #858585;
    padding: 1em;
}

.card .nav-pills .nav-link {
    border-radius: 0;
}

.card .nav-pills .nav-link.active,
.card .nav-pills .show>.nav-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    /* V Black */

    color: #14212B;

    background: #DCF5F3;
}

#datatableSearch {
    min-width: 400px;
}

@media (min-width: 576px) {
    .contacts-list {
        height: calc(100% - 2.063rem);
    }
}

@media (min-width: 768px) {
    .chat-sidebar {
        position: relative;
        height: 100%;
        top: 0;
        left: 0 !important;
        width: auto;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

@media (min-width: 992px) {
    .chat-sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 17.5rem;
        flex: 0 0 17.5rem;
        max-width: 17.5rem;
    }
}

@media (min-width: 1200px) {
    .navbar-vertical-aside-show-xl .navbar:not(.navbar-vertical) {
        margin-left: 0;
    }
}